.App {
    padding: 20px;
}
.Patients {
    padding: 10px;
}
.Entries_Divider {
    padding: 15px;
}
diagnosis-code {
    color: rgb(159, 195, 230);
}
.label{
    padding: 5px;
}
.header {
    padding: 5px;
}
.list.item{
    padding: 10px;
    margin: 5px;
}
.list {
    background-color: rgb(249,250,251);
    margin: 200px;
    padding: 300px;
}
.Image {
    margin: 10px;
}
.patient-header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
.patient-body {
    font-size: small;
}
.patient-list-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(116,208,190);
}
